/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
body {
  font-size: 100%;
  color: #333333;
  background-color: white;
  overflow-x: hidden;
}
body.overflow-hidden {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: "Source Sans Pro", sans-serif;
}
a {
  color: #f25f5c;
  text-decoration: none;
}
img {
  max-width: 100%;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.clear {
  height: 1px;
  width: 100%;
}
/* -------------------------------- 

Header  

-------------------------------- */
.poroda-header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/backgrounds/poroda-background.jpg) no-repeat center;
  background-size: cover;
}
.poroda-header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  height: 150px;
  overflow: hidden;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.poroda-header nav img {
  margin-left: 100px;
  width: 380px;
  height: 70px;
}
.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
}
.main-menu li {
  font-size: 17pt;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 200;
  padding: 5px 10px;
  border-bottom: 2px solid rgba(94, 206, 241, 0);
}
.main-menu li:hover {
  border-bottom: 2px solid #5ecef1;
}
.main-menu li a {
  text-decoration: none;
  color: #fff;
}
.poroda-header-nav.poroda-header-nav-shrink {
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid rgba(51, 51, 51, 0.45);
}
.poroda-header-nav.poroda-header-nav-shrink ul li a {
  color: #333333;
}
.poroda-header-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #515151;
  opacity: 0.35;
  z-index: 0;
}
.poroda-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
  position: relative;
  margin: 100px auto 0;
  z-index: 100;
}
.poroda-title h1 {
  font-size: 60pt;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  word-spacing: 5px;
}
.poroda-title:hover .title-ln-left {
  -webkit-transform: translate(-150px, 0);
  opacity: 1;
}
.poroda-title:hover .title-ln-right {
  -webkit-transform: translate(150px, 0);
  opacity: 1;
}
.title-ln-left,
.title-ln-right {
  opacity: 0;
  width: 150px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all, 1.5s, cubic-bezier(0, 1.19, 0.66, 0.79);
}
.poroda-header-arrow {
  width: 65px;
  height: 50px;
  margin: 20px auto 0;
}
/* -------------------------------- 

Content  

-------------------------------- */
/* -------------------------------- 

Main components 

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  -transition: all 2s ease;
}
main.slide-out {
  /* the main element slides to the left when the author bio is visible */
  -webkit-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  transform: translateX(-270px);
}
main.slide-out .cd-overlay {
  /* the overlay layer gets visible when the author bio slides in */
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}
@media only screen and (min-width: 768px) {
  main.slide-out {
    /* change in size of the author bio section */
    -webkit-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    transform: translateX(-600px);
  }
}
@media only screen and (min-width: 1200px) {
  main.slide-out {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/*------------------------*/
.cd-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 800px;
}
.element {
  position: relative;
  margin: 50px 20px 20px 0;
  width: 350px;
  height: 250px;
  border-radius: 2px;
}
.element::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  height: 200px;
  width: 1px;
  background-color: #fff;
  z-index: 20;
  opacity: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
      transform: translate(0, -100px);
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.element::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  height: 200px;
  width: 1px;
  background-color: #fff;
  z-index: 20;
  opacity: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 100px);
      transform: translate(0, 100px);
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
.element:hover:before,
.element:hover:after {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  opacity: 1;
}
.element h5 {
  position: absolute;
  left: 30px;
  bottom: 45px;
  font-size: 20pt;
  color: #fff;
  font-weight: 600;
  z-index: 10;
  text-transform: uppercase;
}
.element h6 {
  position: absolute;
  left: 30px;
  font-size: 18pt;
  color: #fff;
  font-weight: 200;
  z-index: 10;
  -webkit-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
      transform: translate(-50px, 0);
  opacity: 0;
}
.element h6:nth-child(1) {
  top: 20px;
}
.element h6:nth-child(2) {
  top: 60px;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  ransition-delay: .1s;
}
.element h6:nth-child(3) {
  top: 100px;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.element h6:nth-child(4) {
  top: 140px;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.el-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #707070;
  opacity: .2;
  z-index: 0;
}
.element:hover {
  box-shadow: 0px -1px 20px -3px #000000;
  cursor: pointer;
}
.element:hover h5 {
  -webkit-transform: translate(0, 35px);
  -ms-transform: translate(0, 35px);
      transform: translate(0, 35px);
}
.element:hover h6 {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  opacity: 1;
}
.element:hover .el-mask {
  opacity: .5;
}
.poroda-titles {
  margin: 100px auto;
  min-height: 500px;
}
.poroda-titles section:first-child {
  float: left;
  height: inherit;
  width: 50%;
}
.poroda-titles section:first-child h3 {
  font-size: 25pt;
  color: #333333;
  padding: 10px 20px 10px 20px;
}
.poroda-titles section:first-child p {
  font-size: 14pt;
  color: #85868D;
  padding: 35px 40px 10px 20px;
  line-height: 30px;
}
.poroda-titles section:last-child {
  float: right;
  height: inherit;
  width: 50%;
}
.poroda-gallery-titles {
  text-align: center;
}
.poroda-gallery-titles h4 {
  font-size: 25pt;
  color: #333333;
  text-transform: uppercase;
}
/*--- elements ---*/
.element-1 {
  background: url(../img/gallery/min/dog-6.jpg) no-repeat center;
  background-size: cover;
}
.element-2 {
  background: url(../img/gallery/min/dog-1.jpg) no-repeat center;
  background-size: cover;
}
.element-3 {
  background: url(../img/gallery/min/dog-8.jpg) no-repeat center;
  background-size: cover;
}
.element-4 {
  background: url(../img/gallery/min/dog-9.jpg) no-repeat center;
  background-size: cover;
}
.element-5 {
  background: url(../img/gallery/min/dog-5.jpg) no-repeat center;
  background-size: cover;
}
.element-6 {
  background: url(../img/gallery/min/dog-12.jpg) no-repeat center;
  background-size: cover;
}
/*------------------------
      Panel
-------------------------*/
.cd-member-bio {
  position: fixed;
  top: 90px;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /*background: #5c4b51;*/
  z-index: 1;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  -transition: all 2s ease;
}
.cd-member-bio.slide-in {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.cd-member-bio .cd-bio-content {
  max-width: 80%;
  margin: 0 auto;
  padding: 1em;
  color: #FFF;
}
.cd-member-bio .cd-bio-content section {
  width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.cd-member-bio .cd-bio-content h1 {
  padding-top: 50px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-member-bio .cd-bio-content img {
  display: block;
  margin: 20px auto;
  border: 3px;
}
.cd-member-bio .cd-bio-content p {
  font-size: 14pt;
  color: #85868d;
  margin: 1em 0;
  line-height: 1.4;
  color: #d7cfd2;
}
.cd-member-bio .cd-bio-content .social-title {
  margin: 100px auto 0;
  width: 100%;
  text-align: center;
  color: #123;
}
.cd-member-bio .cd-bio-content .social-title h6 {
  font-size: 20pt;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cd-member-bio {
    width: 600px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
  }
  .cd-member-bio .cd-bio-content {
    padding: 2em;
  }
  .cd-member-bio .cd-bio-content p {
    line-height: 1.6;
    margin: 2em 0;
  }
}
@media only screen and (min-width: 1200px) {
  .cd-member-bio {
    width: 100%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .cd-member-bio .cd-member-bio-pict::after {
    height: 150px;
  }
  .cd-member-bio .cd-bio-content {
    padding: 4em;
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  .cd-member-bio .cd-bio-content h1 {
    font-size: 40px;
    font-size: 2.5rem;
    color: #333333;
  }
  .cd-member-bio .cd-bio-content p {
    /*    font-size: 16px;
    font-size: 1rem;
    color: #333333;*/
    color: #85868D;
  }
  .no-cssgradients .cd-member-bio .cd-bio-content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.cd-member-bio-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: url("../img/icons/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  display: none;
  -webkit-animation-delay: 1s;
}
.cd-member-bio-close.is-visible {
  display: block;
  -webkit-animation: cd-move-in 2s;
  animation: cd-move-in 2s;
}
@media only screen and (min-width: 1200px) {
  .cd-member-bio-close {
    right: 20px;
    top: 110px;
  }
}
.cd-overlay {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: none;
}
/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
